* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}

.container1 {
    margin: auto;


    width: 50%;

    padding: 30px;
    font-size: 18px;

    /* border: 1px solid #eeeeee; */
    border-radius: 10px;
    background-color: #003b5b;


}

h4 {
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}

input {
    color: black;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-width: 3px;
    border-radius: 10px;
}

textarea {
    color: black;
    width: 100%;
    padding: 10px;
    border-width: 3px;
    border-radius: 10px;
}

#submit {
    border: none;
    background-color: orangered;
    color: white;
    width: 25%;
    padding: 2px;
    margin-top: 10px;
    border-radius: 5px;
}

#submit:hover {
    background-color: rgb(61, 203, 228);
}

/* for the alert box */

.alert-success {
    background-color: #0af295;
    color: black;
}

.alert-error {
    background-color: #f44336;
    color: black;
}

.alert-box {
    display: block;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    z-index: 1000;
    border: 5px;
    border-color: black;
    border-radius: 15px;
    /* box-shadow: 5px 10px #888888 */
}