:root {
    /* Light theme */
    --light-bg: #ffffff;
    --light-nav-bg: #0174b6c8;
    --light-bg-home: linear-gradient(40deg,
    #0b0663e5 4%,
    #1010acc9 20%,
    #0c7bb5cc 78%,
    #05d5ffb8 99%);
    --light-bg-about: linear-gradient(240deg,
    #0b0663e5 4%,
    #1010acc9 20%,
    #0c7bb5cc 78%,
    #05d5ffb8 99%);
    --light-bg-events: linear-gradient(40deg,
    #0b0663e5 4%,
    #1010acc9 20%,
    #0c7bb5cc 78%,
    #05d5ffb8 99%);
    --light-bg-contact: linear-gradient(240deg,
    #0b0663e5 4%,
    #1010acc9 20%,
    #0c7bb5cc 78%,
    #05d5ffb8 99%);
    --light-color: #ffffff;
    --light-hover-color: #0a0a0a;
    --light-hover-active: #00b13b;
    --light-hover-bg: #ffffff;
    


    /* Dark theme */
    --dark-bg: #010e31;
    --dark-nav-bg: #183748c8;
    --dark-bg-home: linear-gradient(40deg,
    #0a0654e5 4%,
    #0b0b73c9 20%,
    #0b6494cc 78%,
    #025060b8 99%);
    --dark-bg-about: linear-gradient(240deg,
    #0a0654e5 4%,
    #0b0b73c9 20%,
    #0b6494cc 78%,
    #025060b8 99%);
    --dark-bg-events: linear-gradient(40deg,
    #0a0654e5 4%,
    #0b0b73c9 20%,
    #0b6494cc 78%,
    #025060b8 99%);
    --dark-bg-contact: linear-gradient(240deg,
    #0a0654e5 4%,
    #0b0b73c9 20%,
    #0b6494cc 78%,
    #025060b8 99%);
    --dark-color: #fff9f9;
    --dark-hover-color: #000000;
    --dark-hover-active: #050505;
    --dark-hover-bg: #2bb5b5;

}



html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: var(--light-bg);
}

* {
    margin: 0;
    padding: 0;
    color: var(--light-color);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    animation: HTML 4.5s;
}


#doc {
    animation: openingAnimationDoc 4s ease-out;
    display: block;
}

#animation img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 400px;
    object-fit: contain;
    z-index: 4;
    animation: openingAnimationVideo 4s linear;
    /* border: 2px solid rgb(86, 84, 84);
    border-radius: 50px; */

    visibility: hidden;
}

@keyframes openingAnimationDoc {
    0% {
        display: none;
    }

    100% {
        display: none;
    }
}

@keyframes openingAnimationVideo {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 600px;
        width: 400px;
        visibility: visible;
    }

    90% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 600px;
        width: 400px;
        visibility: visible;
    }

    100% {
        top: 40px;
        left: 30px;
        /* height: 90px; */
        width: 60px;
        visibility: visible;
    }
}

@keyframes HTML {
    0% {
        height: 100vh;
        overflow: hidden;
    }

    50% {
        height: 100vh;
        overflow: hidden;
    }

    90% {
        height: 100vh;
        overflow: hidden;
    }

    100% {
        height: 100vh;
        overflow: hidden;
    }
}


#body {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    background: var(--light-bg);
}

#header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 2;
    background: var(--light-nav-bg);
    backdrop-filter: blur(10px);
    /* background: linear-gradient(40deg, rgb(11,6,99) 4%, rgb(16,16,172) 20%, rgb(12,123,181) 78%, rgb(5,213,255) 99%); */
    color: var(--light-color);
    text-align: center;
    padding: 0;
    border-radius: 0 0 10px 10px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .navicon {
    list-style: none;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul>li>a {
    text-decoration: none;
    color: var(--light-color);
    transition: color 0.3s;
    font-size: 20px;
    padding: 2px 7px 2px 7px;
    border-radius: 15px;
    transition: all 0.3s;
}

nav ul>li>a:hover {
    color: var(--light-hover-color);
    background-color: var(--light-hover-bg);
}

nav ul>li>a:active {
    color: var(--light-hover-active);
    background-color: var(--light-hover-bg);
}


/* Define styles for the 'active' class */
nav ul li a.active {
    color: var(--light-hover-color);
    background-color: var(--light-hover-bg);
}

.logo {
    margin-left: 3px;
}

.logo img {
    height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(10, 10, 10);
}


/* For toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a3a3a4;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.toggle-slider {
    background-color: #2196F3;
}

input:focus+.toggle-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.toggle-slider:before {
    -webkit-transform: translateX(22.5px);
    -ms-transform: translateX(22.5px);
    transform: translateX(22.5px);
}

.toggle-slider.round {
    border-radius: 34px;
}

.toggle-slider:before {
    border-radius: 50%;
}

#home {
    padding-top: 50px;
}

.intro{
    font-size: 20px;
    text-align: center;
}

#about,
#events,
#contact {
    min-height: 100vh;
    width: 90%;
    padding-top: 80px;
}

.container {
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container p {
    text-align: justify;
    margin: auto;
    margin-top: 20px;
    width: 80%;
}

.info span{
    font-size: 20px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: var(--light-color);
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.intro {
    text-align: center;
}

.carousel-item img {
    width: 70%;
    border-radius: 30px;
    padding: 10px;
    margin: auto;
}

#home {
    background: var(--light-bg-home);
}

#about {
    background: var(--light-bg-about);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.imgContainer {
    position: relative;
}

#aboutImg1 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px black;
    margin-right: 100px;
    transform: rotate(10deg);
}

#aboutImg2 img {
    height: 500px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px black;
    margin-right: 100px;
}


#events {
    background: var(--light-bg-events);
    padding-bottom: 50px;
}

#contact {
    background: var(--light-bg-contact);
}

#contact p {
    text-align: center;
}

#contact p a {
    text-decoration: none;
    color: rgb(13, 254, 58);
}

#contact p a:hover {
    color: rgb(248, 239, 0);
}

.social-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    /* margin-top: 100px; */
    padding: 10px 0;
}

.social-links img {
    height: 50px;
}

#quotes {
    margin-top: 25%;

    /* border: 2px solid rgb(255, 255, 255); */
    /* border-radius: 50px; */
}

#quotes p {
    display: none;
}

footer {
    background: var(--light-nav-bg);
    backdrop-filter: blur(10px);
    color:var(--light-color);
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

footer b {
    font-size: 14px;
}

@media screen and (max-width: 1200px) {

    #aboutImg1 img {
        height: 330px;
    }

    #aboutImg2 img {
        height: 330px;
    }

}

@media screen and (max-width: 1000px) {

    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imgContainer {
        position: relative;
    }

    #aboutImg1 img {
        height: 200px;
        border-radius: 30px;
        box-shadow: 2px 2px 2px 2px black;
        margin: 0;
        margin-top: 10px;
        transform: rotate(10deg);
    }

    #aboutImg2 img {
        height: 200px;
        border-radius: 30px;
        box-shadow: 2px 2px 2px 2px black;
        margin: 0;
        margin-top: 10px;
    }

    .social-links img {
        height: 40px;
    }

}

@media screen and (max-width: 800px) {

    h1 {
        font-size: 30px !important;
    }

    p, .intro>span, .info>span {
        font-size: 15px;
    }

    #header {
        height: 50px;
    }

    .logo img {
        margin: 0px;
        height: 40px;
        box-shadow: 1px 1px 1px 1px black;
    }

    nav {
        height: 50px;
    }

    nav .navicon {
        display: flex;
        align-items: center;
    }

    nav > ul > li > a {
        font-size: 15px;
    }

    .switch {
        width: 40px;
        height: 20px;
    }
    
    .toggle-slider:before {
        height: 15px;
        width: 15px;
        left: 2px;
        bottom: 2.5px;
    }

    input:checked+.toggle-slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    
    .toggle-slider.round {
        border-radius: 34px;
    }

    .social-links img {
        height: 30px;
    }
    

}