html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    animation: HTML 4.5s;
}

#doc {
    animation: openingAnimationDoc 4s ease-out; 
    display: block; 
}

#animation img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 400px;
    object-fit: contain;
    z-index: 4;
    animation: openingAnimationVideo 4s linear;
    /* border: 2px solid rgb(86, 84, 84);
    border-radius: 50px; */
    
    visibility: hidden;
}

@keyframes openingAnimationDoc {
    0% {
        display: none;
    }

    100% {
        display: none;
    }
}

@keyframes openingAnimationVideo {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 600px;
        width: 400px;
        visibility: visible;
    }
    90% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 600px;
        width: 400px;
        visibility: visible;
    }
    100% {
        top: 40px;
        left: 30px;
        /* height: 90px; */
        width: 60px;
        visibility: visible;
    }
    
}

@keyframes HTML {
    0% {
        height: 100vh;
        overflow: hidden;
    }

    50% {
        height: 100vh;
        overflow: hidden;
    }

    90% {
        height: 100vh;
        overflow: hidden;
    }

    100% {
        height: 100vh;
        overflow: hidden;
    }
}


#body {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

#header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 55px;
    z-index: 2;
    background: #0174b6c8;
    backdrop-filter: blur(10px);
    /* background: linear-gradient(40deg, rgb(11,6,99) 4%, rgb(16,16,172) 20%, rgb(12,123,181) 78%, rgb(5,213,255) 99%); */
    color: #fff;
    text-align: center;
    padding: 0;
    border-radius: 0 0 10px 10px;
}


nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul>li>a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    font-size: 20px;
    padding: 0 7px 5px 7px;
    border-radius: 15px;
    transition: all 0.3s;
}

nav ul>li>a:hover {
    color: #252422;
    background-color: rgb(253, 253, 253);
}

nav ul>li>a:active {
    color: rgb(0, 177, 59);
    background-color: rgb(255, 255, 255);
}

/* Define styles for the 'active' class */
nav ul li a.active {
    color: black;
    background-color: white;
}

.logo {
    margin-left: 3px;
}

.logo img {
    height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(33, 32, 32);
}

#home,
#about,
#events,
#contact {
    min-height: 100vh;
    width: 90%;
}

#about,
#events,
#contact {
    padding-top: 80px;
}

.container {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container p {
    text-align: justify;
    margin: auto;
    margin-top: 20px;
    width: 70%;
}

span {
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.carousel-item img {
    width: 70%;
    border-radius: 30px;
}

.carousel-inner img {
    padding: 10px;
    margin: auto;
}

.social-links img {
    height: 50px;
}

#home {
    background: linear-gradient(40deg,
            rgba(11, 6, 99, 0.8968837535014006) 4%,
            rgba(16, 16, 172, 0.7904411764705882) 20%,
            rgba(12, 123, 181, 0.7988445378151261) 78%,
            rgba(5, 213, 255, 0.7232142857142857) 99%);
}

#about {
    background: linear-gradient(240deg,
            rgba(11, 6, 99, 0.8968837535014006) 4%,
            rgba(16, 16, 172, 0.7904411764705882) 20%,
            rgba(12, 123, 181, 0.7988445378151261) 78%,
            rgba(5, 213, 255, 0.7232142857142857) 99%);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.imgContainer {
    position: relative;
}

#aboutImg1 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px black;
    margin-right: 100px;
    transform: rotate(10deg);
}

#aboutImg2 img {
    height: 500px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px black;
    margin-right: 100px;
}


#events {
    background: linear-gradient(40deg,
            rgba(11, 6, 99, 0.8968837535014006) 4%,
            rgba(16, 16, 172, 0.7904411764705882) 20%,
            rgba(12, 123, 181, 0.7988445378151261) 78%,
            rgba(5, 213, 255, 0.7232142857142857) 99%);
    padding-bottom: 50px;
}

#contact {
    background: linear-gradient(240deg,
            rgba(11, 6, 99, 0.8968837535014006) 4%,
            rgba(16, 16, 172, 0.7904411764705882) 20%,
            rgba(12, 123, 181, 0.7988445378151261) 78%,
            rgba(5, 213, 255, 0.7232142857142857) 99%);
}

#contact p {
    text-align: center;
}

#contact p a {
    text-decoration: none;
    color: rgb(13, 254, 58);
}

#contact p a:hover {
    color: rgb(248, 239, 0);
}

.social-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    margin-top: 100px;
    padding: 10px 0;
}

#quotes {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
}

#quotes p {
    display: none;
}

footer {
    background: #0075b9ca;
    backdrop-filter: blur(10px);
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
